<div class="row">
	<div class="col-xs-4 noPad-xs">
		<select class="form-control" onchange={{action "changedSelect" value="target.value"}}>
			{{#each operators as |operator|}}
				{{operator}}
				<option value="{{operator.value}}">{{operator.text}}</option>
			{{/each}}
		</select>
	</div>

	<div class="col-xs-8 noPad-xs">
		{{#if (gte boxCount 1)}}
			<div class="col-xs-6 noPad-xs">
				<input type="text" class="form-control">
			</div>
		{{/if}}
		{{#if (eq boxCount 2)}}
			<div class="col-xs-6 noPad-xs">
				<input type="text" class="form-control">
			</div>
		{{/if}}
	</div>
</div>