<div class="row">
	<div class="col-xs-4 noPad-xs">
		<select class="form-control">
			{{#each operators as |operator|}}
				{{operator}}
				<option value="{{operator.value}}">{{operator.text}}</option>
			{{/each}}
		</select>
	</div>

	<div class="col-xs-8 noPad-xs">
		{{#if (eq filterType "equal")}}
			<div class="col-xs-6 noPad-xs">
				<input type="text" class="form-control">
			</div>
		{{/if}}
	</div>
</div>