{{#each filterIDArr as |item index|}}
	<div class="filter-item filter-{{add index 1}}">
		<div class="title">Filter {{add index 1}}</div>

		{{field-choose-area
			area = "filters"
			filterIndex = index
			fieldChooseSelect = fieldChooseSelect
			fieldChooseFilter = fieldChooseFilter
			feed = (action 'feed')}}
	</div>
{{/each}}