{{#each itemArr as |item index|}}
	<div class="filter-item filter-{{add index 1}}">
		Item {{add index 1}}
		<div {{action "remove" index}}>Remove</div>
		{{field-choose-area
			area = "filters"
			fieldChooseSelect = fieldChooseSelect
			fieldChooseFilter = fieldChooseFilter}}
	</div>
{{/each}}