<h4>Y-Axis</h4>
<div class="y-axis category-wrap form-group">
	{{field-choose-area
		area = "yAxis"
		fieldChooseSelect = fieldChooseSelect
		fieldChooseFilter = fieldChooseFilter}}
</div>



<h4>X-Axis</h4>
<div class="x-axis category-wrap form-group">
	{{field-choose-area
		area = "xAxis"
		fieldChooseSelect = fieldChooseSelect
		fieldChooseFilter = fieldChooseFilter}}
</div>