
<div class="title">Y-Axis</div>
<div class="y-axis category-wrap form-group">
	{{field-choose-area
		area = "yAxis"
		fieldChooseSelect = fieldChooseSelect
		fieldChooseFilter = fieldChooseFilter
		feed = (action 'feed')
		triggerParse = triggerParse}}
</div>



<div class="title">X-Axis</div>
<div class="x-axis category-wrap form-group">
	{{field-choose-area
		area = "xAxis"
		fieldChooseSelect = fieldChooseSelect
		fieldChooseFilter = fieldChooseFilter
		feed = (action 'feed')
		triggerParse = triggerParse}}
</div>