<div class="l-body">
	<div class="l-left">

		<div class="submit-btn-container">
			<button {{action "submit"}} type="button" class="submit-btn btn btn-xlarge btn-success">Generate Chart</button>
		</div>

		<div class="accordion panel-group" role="tablist" aria-multiselectable="true">

		    <div class="panel panel-primary">
		        <div class="panel-heading" role="button" data-toggle="collapse" data-parent=".accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		            <h4 class="panel-title">Main</h4>
		        </div>
		        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
		            <div class="panel-body">
		    			{{main-section
		    				fieldChooseSelect = model.fieldChooseSelect
		    				fieldChooseFilter = model.fieldChooseFilter}}
		            </div>
		        </div>
		    </div>

			<div class="panel panel-primary">
				<div class="panel-heading" role="button" data-toggle="collapse" data-parent=".accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			  		<h4 class="panel-title">Filters</h4>
				</div>
				<div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
			  		<div class="panel-body">
						{{filters-section
							filterCountInit = 1
		    				fieldChooseSelect = model.fieldChooseSelect
		    				fieldChooseFilter = model.fieldChooseFilter
		    				parentActionParse = triggerChildActionParse}}
			  		</div>

				</div>
			</div>
		   
		</div>

	</div>
</div>




